.homepage .statistic_frame {
  width: 100%;
  background-color: #2c261e;
}

.homepage .statistic_frame .personage_img.left {
  width: 204px;
  height: 200px;
  background: url("/public/home/papays.png");
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .statistic_frame .personage_img.right {
  width: 204px;
  height: 200px;
  background: url("/public/home/papays.png");
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
}

.homepage .statistic_frame .static_box {
  width: 191px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statistic_frame .static_box .static_num {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  text-align: center;
  color: #fff;
}

.statistic_frame .static_box .static_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #e3c08d;
}

.homepage .top_restaurant_frame {
  display: flex;
  width: 100%;
  height: 605px;
  background: #0b0e11;
}

.homepage .category_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #e3c08d;
}

.homepage .best_restaurant_frame {
  display: flex;
  width: 100%;
  height: 755px;
  background: #0b0e11;
  position: relative;
}

.best_corner_res {
  position: absolute;
  left: 6%;
  /* transform: rotate(90deg); */
}
