.member_page {
  width: 100%;
  height: 100%;
  background: #0b0e11;
}

.my_page {
  display: flex;
  width: 100%;
  height: 100%;
  background: #0b0e11;
  padding-bottom: 100px;
}

.my_page .my_page .my_page_container {
  margin: 50px 0px;
  width: 100%;
  height: 100%;
}

.my_page_container .my_page_frame {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 55px;
  width: 100%;
}

.my_page_frame .my_page_left {
  width: 821px;
  margin-top: 50px;
}

.my_page .my_page_left .box_left {
  display: flex;
  flex-direction: column;
}

.my_page .menu_content .pagination {
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination li button {
  color: #fff;
}

.my_page .my_page_right {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 82px;
  width: 372.58px;
  height: 425px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.my_page .my_page_right .order_info_box {
  position: relative;
  padding-top: 28px;
}

.my_page .my_page_right .order_info_box .info_box_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my_page .my_page_right .order_info_box .settings_btn {
  position: absolute;
  top: 28px;
  right: 55px;
}

.my_page .info_box_item .order_user_img .svg {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  right: 0;
}

.my_page .info_box_item .order_user_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_page .order_user_info .name {
  color: #08090d;
  font-family: Commissioner;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

.my_page .order_user_info .user_prof {
  color: #a1a1a1;
  font-family: Commissioner;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.my_page_right .user_media_box {
  margin-top: 16px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #616164;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.my_page_right .user_media_box svg {
  cursor: pointer;
}

.my_page .my_page_right .maqola_yoz_sec {
  display: flex;
  margin: 10px 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.maqola_yoz_sec button {
  width: 146px;
  height: 36px;
  border-radius: 10px;
  border: 1px solid #0288d1;
  background: #0288d1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.maqola_yoz_sec .btn_cancel {
  border: 1px solid rgba(247, 9, 9, 0.72);
  background: rgba(247, 9, 9, 0.72);
}

.maqola_yoz_sec .btn_cancel:hover {
  border: 1px solid rgba(227, 9, 15, 0.82);
  background: rgba(227, 26, 9, 0.62);
}

.maqola_yoz_sec .btn_follow {
  border: 1px solid #30945e;
  background: #30945e;
}

.maqola_yoz_sec .btn_follow:hover {
  border: 1px solid #2ba765;
  background: #259258;
}

.my_page_right .my_page_menu {
  margin-top: 40px;
  width: 372.58px;
  margin-bottom: 82px;
}

.my_page_menu .MuiTabs-flexContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.my_page_menu .menu_box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset,
    0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  height: 50px;
  color: #000;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.css-1aquho2-MuiTabs-indicator {
  display: none;
}

.my_page .post_content .all_article_box {
  margin-top: 15px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
  background: #182226;
  height: 170px;
  padding: 8px 0;
}
.all_article_box .all_article_container .user_prof {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.all_article_box .all_article_container .user_prof img {
  width: 35px;
  border-radius: 50%;
  background-size: cover;
}

.all_article_box .all_article_container .user_prof span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.all_article_container .evaluation {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 10px;
}

.all_article_container .evaluation span {
  color: #e3c08d;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.all_article_container .evaluation p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.all_article_container {
  width: 100%;
  padding-right: 14px;
}

.my_page .all_article_box .views {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-right: 14px;
  color: #ffffff;
}

.views p:first-child {
  margin-right: 30px;
}

.views .evaluation_text,
.views .eye {
  display: flex;
  align-items: center;
  text-align: center;
}

.my_page .menu_name {
  color: #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 821px;
}
.my_page .follower_content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.my_page .follow_box {
  padding-left: 45px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  border-radius: 17px;
  background: linear-gradient(
    180deg,
    rgba(38, 112, 129, 0.9) 0%,
    rgba(21, 61, 70, 0.9) 100%
  );
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15),
    3px 2px 9px 0px rgba(255, 255, 255, 0.25) inset;
  width: 821.42px;
  height: 140px;
}

.my_page .follow_box .follower_img {
  width: 89px;
  height: 89px;
}

.follow_box .user_prof {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 85%;
  justify-content: center;
  gap: 10px;
}

.follow_box .user_prof .user {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.follow_box .user_prof .name {
  color: #fff;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.follower_content .follow_box .following_already {
  color: #fff;
  width: 160px;
  height: 50px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 26px;
  background: #68c5cb;
  box-shadow: 1px 4px 6px 0px rgba(211, 211, 211, 0.25),
    0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
}

.follower_content .follow_box .following_btn {
  border-radius: 26px;
  border: 1px solid #fff;
  background: #30945e;
  box-shadow: 1px 4px 6px 0px rgba(211, 211, 211, 0.25),
    0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
  width: 160px;
  height: 50px;
  color: #fff;
  text-transform: capitalize;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.follower_content .follow_box .following_cancel {
  width: 160px;
  height: 50px;
  color: #fff;
  text-transform: capitalize;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 26px;
  border: 1px solid #fff;
  background: #e81010;
  box-shadow: 1px 4px 6px 0px rgba(211, 211, 211, 0.25),
    0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset;
}
.my_settings_page {
  width: 821px;
}

.my_settings_page .member_media_frame img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.my_settings_page .member_media_frame {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 821.42px;
  height: 120px;
  border-radius: 5px;
  background: #f6f6f6;
}

.my_settings_page .download {
  width: 37px;
  min-width: 0;
  height: 37px;
  border-radius: 8px;
  background: #d9d9d9;
}

.my_settings_page .name_input {
  width: 822px;
  margin-top: 25px;
}

.my_settings_page label {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.my_settings_page .name_input input {
  color: #4f547b;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  height: 54px;
  padding-left: 20px;
}

.my_settings_page .info_input {
  width: 822px;
  margin-top: 25px;
  display: flex;
  gap: 18px;
}
.info_input div {
  width: 402.48px;
  display: flex;
  flex-direction: column;
}

.info_input div input {
  color: #4f547b;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 54px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.my_settings_page .add_info {
  display: flex;
  flex-direction: column;
  width: 821px;
}

.my_settings_page .add_info textarea {
  padding-top: 15px;
  width: 100%;
  height: 200px;
  color: #4f547b;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 25px;
  outline: none;
  resize: none;
  border-radius: 5px;
  background: #f6f6f6;
}

.my_settings_page .save_btn {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.save_btn button {
  width: 104px;
  height: 36px;
  padding: 21px 55px;
}

.writing_article {
  display: flex;
}

.writing_article .header_sec {
  width: 821px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 40px;
  gap: 141px;
  justify-content: space-between;
}

.writing_article .form_category {
  width: 300px;
}

.writing_article .category {
  color: #e1ffe9;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
  padding-left: 10px;
}

.writing_article .form_control {
  width: 100%;
  background-color: white;
  height: 56px;
}

.form_category label,
.form_control div div {
  color: #979797;
  font-family: Poppins;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.writing_article .reg_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
